@using NewsWebSite.Models
@model ChangePassword
@{
    ViewBag.Title = "changePassword";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            @using (Html.BeginForm("changePassword", "auth", FormMethod.Post, new
            {
                @class = "bg-white rounded shadow-5-strong p-5",
            }))
            {
                @Html.AntiForgeryToken()
                <h2>Change Password</h2>
                <div class="form-outline mb-4" data-mdb-input-init>
                    @Html.LabelFor(x => x.Password, new { @class = "form-label", @for = "Password" })
                    @Html.PasswordFor(x => x.Password, new { @class = "form-control" })

                    @Html.ValidationMessageFor(x => x.Password,"", new { @class = "text-danger" })

                </div>

                <div class="form-outline mb-4" data-mdb-input-init>
                    @Html.LabelFor(x => x.ConfirmPassword, new { @class = "form-label", @for = "ConfirmPassword" })
                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })

                    @Html.ValidationMessageFor(x => x.ConfirmPassword,"", new { @class = "text-danger" })

                </div>
                <input type="submit" class="btn btn-primary" value="Change password" />

                @Html.ActionLink("Back", "ForgotPassword", "auth", null, new { @class = "btn btn-default" })
            }

        </div>
    </div>
</div>

