@using NewsWebSite.Models
@model LoginData 
@{
    ViewBag.Title = "ForgotPassword";

}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-5 col-md-8">
            @using (Html.BeginForm("ForgotPassword", "auth", FormMethod.Post, new
            {
                @class = "bg-white rounded shadow-5-strong p-5",
            }))
            {
                @Html.AntiForgeryToken()

                <h2>Change password</h2>

            <div class="form-outline mb-4" data-mdb-input-init>
                @Html.LabelFor(x => x.Email, new { @class = "form-label", @for = "Email" })
                @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(x => x.Email, "", new {@class="text-danger"})

                <div>
                    <span class="text-danger"> @ViewBag.EmailError</span>   
                </div>

            </div>
                <input type="submit" class="btn btn-primary" value="Ok" />
                @Html.ActionLink("Back", "login", "auth",null, new {@class="btn btn-default"})
               
            }

        </div>
    </div>
</div>

