
@model NewsWebSite.Models.News

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "usernews", FormMethod.Post,
new { @class = "bg-white rounded shadow-5-strong p-5"}
    ))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.userId);


    <div class="form-horizontal">
        <h4>Edit News</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            @Html.LabelFor(model => model.decription, htmlAttributes: new { @class = "control-label col-md-2" })
            <span id="NoOfAllowedChars">
                Max Characters 500 : @Model.decription.Length </span>



                <div class="col-md-5">
                    @Html.TextAreaFor(model => model.decription, new { @class = "form-control", maxlength = "500" })
                    @Html.ValidationMessageFor(model => model.decription, "", new { @class = "text-danger" })
                </div>
</div>

        <div class="form-group">
            @Html.LabelFor(model => model.Category_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
  
                @Html.DropDownListFor(model => model.Category_Id,(SelectList)ViewBag.Category_Id ,new { @class="form-control"})
                @Html.ValidationMessageFor(model => model.Category_Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Dateofoccurrence, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-5">
                @Html.EditorFor(x => x.Dateofoccurrence, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


@section scripts{
    <script>
            $(function () {
                $("#Dateofoccurrence").datepicker(
                    {
                        dateFormat: "mm/dd/yy",
                        timeFormat:'',
                        changeMonth: true,
                        changeYear: true
                    });
            });

        $('#decription').on('input', (e)=> {

            let val = document.getElementById('decription').value;
            document.getElementById('NoOfAllowedChars').innerText = "Max Characters 500 :"+ val.length;

            if (val.length > 500) {
                document.getElementById('decription').value = val.substring(0,499);
                return false;
            }
        })
    </script>
}

